html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1{
    font-family: "Didact Gothic", sans-serif;
    font-size: 2rem;
} 

h2, h3, h4 {
    font-family: "Didact Gothic", sans-serif;
} 

h3 {
     font-size: 30px;
     padding-left: 10px;
     color: blue;
}
h4 {
    padding-top: 10px;
    font-size: 5rem;
    color: blue;
    border-bottom: 5px blue;

}
p {
    font-family: "Didact Gothic", sans-serif;
  
    padding-left: 10px;
    font-size: 10px;
}
img {
    width: 50%;
    display:block;
}
.largelogo {
 width: 80%;
}
.component {
  Margin-left: 200px;
}
.heading__img {
    width: 30%;
}
.body-text {
  padding-right:50%;
  font-size: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  padding: 10px;
  border-top: 2px solid black;
}
.article {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  padding-left: 20px;
}
.article h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border-bottom: 2px solid #1b1bff;
  padding-bottom: 0.5rem;
}
.article img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: .5rem;
}
.article p {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0;
}
.nav-screenshot {
  width: 15%;
}

.navbar {
  display: block;
  width: 200px;
  height: 800px;
  padding-top: 20px;
  background-color: white;
}
li a {
  font-family: "Didact Gothic", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 10px;
}
ul {
  list-style-type: none;
  line-height: 30px;
}
li a:hover {
  text-decoration: underline black;
}
#smallMCA {
  padding-bottom: 20px;
}
.bluelink {
  color: blue;
}
.language {
  font-family: "Didact Gothic", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-top: 400px;
}
.fixednav {
  position: fixed;
  height: 100%;
  overflow: auto;
  width: 170px;
  padding-top: 40px;
  border-right: black solid 2px;
}

.exhibitions {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 2rem 0;
}
.exhibit-card {
  position: relative; 
  width: 320px;
  height: auto;
  overflow: hidden;
}

.exhibit-card img {
  width: 100%;
  display: block;
}

.caption {
  position: absolute;
  bottom: 10%; 
  left: 5%;
  width: 90%;  
  background: white;
  padding: 5%;
  box-sizing: border-box;
}

.caption .dates {
  font-size: 1rem;
  margin: 0 0 .5rem 0;
  letter-spacing: .1rem;
  padding-right:0%;
}

.caption .title {
  margin: 0;
  font-size: 1.15rem;
  padding-right:0%;
}
footer {
  background-color: black;
  color: white;
  padding: 5px;
  
}
.footer__header {
  font-size: 1rem;
  color: black;
  letter-spacing: .2rem;
}

a {
  font-family: "Didact Gothic", sans-serif;
}

.footer-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(9,8%);
  grid-template-rows: repeat(3, 80px);
  padding-bottom: 140px;
}

.item1 {
  grid-column: span 1;
  grid-row: span 3;
}

.item2 {
  grid-column: span 1;
  grid-row: span 1;
}
.item4 {
grid-column: span 2;
grid-row: span 3;
}

.item5 {
grid-column: span 2;
grid-row: span 2;
}

.item6{
grid-column: span 2;
grid-row: span 3;
}

.item7 {
grid-column: span 2;
grid-row: span 1;
}

.item8 {
grid-column: span 1;
grid-column-start: 6;
grid-row-start: 3;
}

.item9 {
grid-column: span 1;
grid-column-start: 7;
grid-row-start: 3;
}

.footer-logo {
  display: block;
  width: 90%;
  Margin-left:0
}

.footer-bottom {
  color: white;
  background-color: black;
  font-family: "Didact Gothic", sans-serif;
  font-size: 1rem;
  padding: 1rem;
}
button {
  font-family: "Didact Gothic", sans-serif;
}
.programs {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1rem;
}
.program-card {
  position: relative; 
  width: 320px;
  height: auto;
  overflow: hidden;
}
.program-card img {
  width: 100%;
  display: block;
}
.featured-header {
  background-color: black;
  color: white;
  padding: 20px 0 20px 20px;
  margin-top: 30px;
  background-image: url("../images/featured-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.featured-card {
  display: flex;
  flex-direction: column;
  padding-left: 20px;

}
.featured-card img {
  width: 100%;
}

.featured-card h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border-bottom: 2px solid #1b1bff;
  padding-bottom: 0.5rem;
}
.featured-card p {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0;
}

.featured-card a {
  text-decoration-line: none;
}

.featured-articles {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 2rem 2rem 2rem 0;
}
#mcastore {
  border-left: black solid 1px;
}